In [1]:
x = 1
for x in range(1,101):
    mult3 = x % 3
    mult5 = x % 5
    if mult5 == 0 and mult3 == 0:
        print("HelloWorld")
    elif mult3 == 0 :
        print("Hello")
    elif mult5 == 0 :
        print("World")
    
    else:
        print(x)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [2]:
x = input("write an input: ")
x1 = input("write another input: ")
lista = [x,x1]

x = lista[1]
x1 = lista[0]

print(x,x1)

write an input: 5
write another input: 5
5 5

In [4]:
import math

u = (3,0)
v = (0,4)

distance = math.sqrt( pow((u[0] + v[0]), 2) + pow((u[1] + v[1]),2))

print(distance)

5.0

In [5]:

s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

s1 = s1.lower()
s2 = s2.lower()

diz = {}
i = 0

j = 0
diz2 = {}

for i in range(0, len(s1)):
    if s1[i] == ' ':
        continue
    
    elif  s1[i] not in diz:
        diz[s1[i]] = 1
        
    elif s1[i] in diz:
        diz[s1[i]]+=1
        

for j in range(0, len(s2)):
    if s2[j] == ' ':
        continue
    
    elif  s2[j] not in diz2:
        diz2[s2[j]] = 1
        
    elif s2[j] in diz2:
        diz2[s2[j]]+=1


print("first string")
for key in sorted(diz):
    print(key, diz[key])
      
print ( "second string")       
for key in sorted(diz2):
    print(key, diz2[key])

first string
. 3
0 2
1 2
a 7
b 5
c 1
d 5
e 20
f 10
g 1
h 11
i 12
l 12
m 8
n 10
o 15
p 8
r 19
s 7
t 19
u 7
v 2
w 4
second string
a 1
b 1
c 1
d 1
e 3
f 1
g 1
h 2
i 1
j 1
k 1
l 1
m 1
n 1
o 4
p 1
q 1
r 2
s 1
t 2
u 2
v 1
w 1
x 1
y 1
z 1

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


i = 0
j = 0 
be = False
ripetuti =[]
for i in range(0 , len(l)-1):
    if i == len(l)-1:
        break
    for j in range(i+1, len(l)):
        if l[i] == l[j]:
            ripetuti.append(l[j])

#cos√¨ ho trovato quelli che si ripetono
    
i = 0
j = 0 
while i < len(l):
    for j in range(0, len(ripetuti)):
        if l[i] == ripetuti[j]:
            l.remove(l[i])
    i+=1
    
print("i numeri non ripetuti mai sono: ", l, " e sono ", len(l))

i numeri non ripetuti mai sono:  [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 63, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 42, 95, 90, 98, 39, 16, 82, 92, 41, 30, 70, 85, 94, 5, 72, 87, 75, 53, 89]  e sono  42

In [7]:
x = input("write an input: ")
x1 = input("write another input: ")

try:
    somma = float(x) + float(x1)
except:
    somma = x +x1
    

    
print(somma)

write an input: j
write another input: 9
j9

In [2]:
cubi_cicli_for = []
for x in range(11):
    cubi_cicli_for.append(x**3)
print(cubi_cicli_for)

cubi_list_comprehension = [x**3 for x in range(11)]
print(cubi_list_comprehension)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [10]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)


lista = [(i,j) for i in range(3) for j in range(4)]
print(lista)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [ ]:
import math as m

terna = [[a,b,c] for a in range (1, 100) for b in range (a,100) for c in range (b,100) if a**2 + b**2 == c**2 ]
terne_non_duplicate = [tuple(triple) for triple in terna]

terne_non_duplicate = sorted(terne_non_duplicate)

# togliere i multipli

i = 0
j = 0 
while i  < len(terne_non_duplicate) - 1:
    
    lista1 = list(terne_non_duplicate[i])
    j = j+i+1
    while j  < len(terne_non_duplicate):            
        lista2 = list(terne_non_duplicate[j])

        if lista2[0] % lista1[0] == 0 and lista2[1] % lista1[1] == 0  and lista2[2] % lista1[2] == 0 :
            multiplo = True
                
        if multiplo == True:
            terne_non_duplicate.remove(tuple(lista2))
    i+=1
    multiplo = False
 

terne_non_duplicate.sort()
print(terne_non_duplicate)

In [ ]:

i = 0
j = 0 
l = []
while i  < len(terne_non_duplicate) - 1:
    lista1 = list(terne_non_duplicate[i])
    j = j+i+1
    while i  < len(terne_non_duplicate):            
        lista2 = list(terne_non_duplicate[j])

        if lista2[0] % lista1[0] != 0 and lista2[1] % lista1[1] != 0  and lista2[2] % lista1[2] != 0 :
            multiplo = True
                
        if multiplo == True:
            terne_non_duplicate.remove(tuple(lista2))
    i+=1
    multiplo == True

In [18]:
#Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers,
#and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

import math as m

vettore = (0,3,4)

somma = 0 
for i in range(len(vettore)):
    somma += pow(vettore[i],2)
    

norma = m.sqrt(somma)

somma1 = 0 
for i in range(len(vettore)):
    somma1 += pow(vettore[i]/norma,2)

vettore_normalizzato = m.sqrt(somma1)

print(norma)
print(vettore_normalizzato)

5.0
1.0

In [23]:
fibonacci = [0, 1]

i = 2
while i < 20:
    next_num = fibonacci[i - 1] + fibonacci[i - 2]
    fibonacci.append(next_num)
    i += 1

print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [75]:
unique_pythagorean_triples = [
    tuple(sorted([a, b, c]))
    for a in range(1, 100)
    for b in range(a, 100)
    for c in range(b, 100)
    if a**2 + b**2 == c**2 and a != b and b != c and c != a
    if all(a % x != 0 and b % y != 0 and c % z != 0 for x, y, z in unique_pythagorean_triples)
]

sorted_unique_pythagorean_triples = sorted(unique_pythagorean_triples)

for triple in sorted_unique_pythagorean_triples:
    print(triple)

(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(11, 60, 61)
(12, 16, 20)
(12, 35, 37)
(13, 84, 85)
(14, 48, 50)
(15, 20, 25)
(15, 36, 39)
(16, 30, 34)
(16, 63, 65)
(18, 24, 30)
(18, 80, 82)
(20, 21, 29)
(20, 48, 52)
(21, 28, 35)
(21, 72, 75)
(24, 32, 40)
(24, 45, 51)
(24, 70, 74)
(25, 60, 65)
(27, 36, 45)
(28, 45, 53)
(30, 40, 50)
(30, 72, 78)
(32, 60, 68)
(33, 44, 55)
(33, 56, 65)
(35, 84, 91)
(36, 48, 60)
(36, 77, 85)
(39, 52, 65)
(39, 80, 89)
(40, 42, 58)
(40, 75, 85)
(42, 56, 70)
(45, 60, 75)
(48, 55, 73)
(48, 64, 80)
(51, 68, 85)
(54, 72, 90)
(57, 76, 95)
(60, 63, 87)
(65, 72, 97)